.title .DraftEditor-root {
  font-weight: bold;
  color: #2e3292;
  font-size: 2em;
  line-height: 1.34;
  margin-right: 25px;
}

.title .public-DraftEditorPlaceholder-root {
  color: #2e3292;
  opacity: 0.3;
}
